.homepage-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.homepage-homepage {
  width: 100%;
  height: 1522px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.homepage-about-as {
  top: 557px;
  left: 42px;
  width: 1158px;
  height: 493.7798767089844px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.homepage-rectangle4 {
  top: 0px;
  left: 0px;
  width: 1158px;
  height: 157px;
  position: absolute;
}
.homepage-rectangle6 {
  top: 457px;
  left: 482px;
  width: 100px;
  height: 37px;
  position: absolute;
  border-radius: 4px;
}
.homepage-text {
  top: 125.4842758178711px;
  left: 482px;
  color: rgba(13, 13, 13, 1);
  width: 433px;
  height: auto;
  position: absolute;
  font-size: 72px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-text02 {
  top: 466px;
  left: 493px;
  color: rgba(255, 255, 255, 1);
  width: 78px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-text04 {
  top: 2860px;
  left: 708px;
  color: rgba(238, 238, 238, 0.6600000262260437);
  width: 570px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-text06 {
  top: 2777px;
  left: 710px;
  color: rgba(238, 238, 238, 0.6600000262260437);
  width: 401px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-rectangle16 {
  top: 0px;
  left: 0px;
  width: 1205px;
  height: 573px;
  position: absolute;
}
.homepage-frame2 {
  gap: 70px;
  top: 195px;
  left: 99px;
  width: 779px;
  height: 237px;
  display: flex;
  position: absolute;
  align-items: center;
}
.homepage-text08 {
  top: 91px;
  left: -20px;
  color: rgba(0, 0, 0, 1);
  width: 891px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-text10 {
  top: -67px;
  left: -89px;
  color: rgba(0, 0, 0, 1);
  width: 786px;
  height: auto;
  position: absolute;
  font-size: 96px;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-chevronleftsolid2 {
  top: 363.80145263671875px;
  left: 1889.3209228515625px;
  width: 40px;
  height: 64.55000305175781px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.homepage-text12 {
  top: 800px;
  left: 524px;
  color: rgba(0, 0, 0, 1);
  width: 546px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-home-page {
  top: 760px;
  left: 1202px;
  width: 21px;
  height: 7px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.homepage-frame1 {
  top: 0px;
  left: 0px;
  width: 21px;
  height: 7px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.homepage-fontainemechanicalpencil-pfom-premovebgpreview1 {
  top: 699px;
  left: 113px;
  width: 321px;
  height: 315px;
  position: absolute;
}
.homepage-rectangle17 {
  top: 1155px;
  left: 0px;
  width: 1200px;
  height: 287px;
  position: absolute;
}
.homepage-group2 {
  top: 1442px;
  left: -2px;
  width: 1203px;
  height: 80px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 0, 0, 1);
}
.homepage-group1 {
  top: 31px;
  left: 490px;
  width: 382px;
  height: 19px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.homepage-text14 {
  color: rgba(255, 255, 255, 1);
  width: 382px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
